[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-sdk = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pyodbc = "*"
flask-mysqldb = "*"
flask-mysql = "*"

[dev-packages]

[requires]
python_version = "3.7"
