.individualLeaderboard {
    padding-top: 56px;
    padding-left: 72px;
    width: 312px;
    height: 38px;
    color: rgb(45, 45, 45);
    font-size: 28px;
    font-family: Avenir-Medium;
    font-weight: 500;
    letter-spacing: 0.88px;
}

ul {
    margin: 24px;
}