.individual-panel { 
    height: 102px;
    background: rgb(241, 243, 247);
    box-shadow: 0px 2px 10px 0px rgb(200, 200, 200);
    border-radius: 16px;
    padding: 0;
}

.mat-card-avatar {
    height: 70px;
    width: 70px;
}

.team-colour {
    width: 8px;
    height: 102px;
    background: rgb(30, 149, 166);
    border-radius: 100px 0px 0px 100px;
    float: left;
}

.placement {
    width: 17px;
    height: 38px;
    color: rgb(45, 45, 45);
    font-size: 28px;
    font-family: Avenir-Medium;
    font-weight: 500;
    letter-spacing: 0.88px;
    float:left;
}

.points {
    text-align: right;
}